<h1> Lexicon </h1>
<p *ngIf="!lexicon"><b>Loading...</b></p>
<div *ngIf="showError" class="alert alert-danger" role="alert">
  Error loading lexicon.
</div>
<div *ngIf="error" class="alert alert-danger" role="alert">
  Error: {{error}}!
</div>

<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" id="inlineCheckbox1" value="all" [ngModel]="filter" (change)="changeFilter($event)">
  <label class="form-check-label" for="inlineCheckbox1">all</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" id="inlineCheckbox2" value="positive" [ngModel]="filter" (change)="changeFilter($event)">
  <label class="form-check-label" for="inlineCheckbox2">positive</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" id="inlineCheckbox3" value="negative" [ngModel]="filter" (change)="changeFilter($event)">
  <label class="form-check-label" for="inlineCheckbox3">negative</label>
</div>


<table class="table table-striped" *ngIf="lexicon">
  <thead>
    <tr>
      <th>Text</th>
      <th>Sentiment</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let word of lexicon.filteredWords" [ngClass]= "{'row_green': word.sentiment>=0,
                                                        'row_red': word.sentiment < 0}" ng>
      <td>{{word.text}}</td>
      <td>{{word.sentiment}}</td>
      <td>
        <button type="button" class="btn btn-primary btn-sm" (click)="showWord(word.id)">
          Show
        </button>
        <button type="button" class="btn btn-success btn-sm" (click)="updateWord(word.id)">
          Update
        </button>
        <button type="button" class="btn btn-danger btn-sm" (click)="deleteWord(word.id)">
          Delete
        </button>

      </td>
    </tr>
  </tbody>
</table>
<button class="btn-md btn-dark" [routerLink]="['/new-word']">Add new word</button>

